*.*~
*.bak
*.pyc
*.log
*.project
*.pydevproject
*.DS_Store
.DS_Store
.settings
orchestrator-core/.metadata/
orchestrator-core/doubledecker/*
FrogOrchestrator.log
config/config.ini
config/public-keys.json
templates
keys