[submodule "nffg_library"]
	path = nffg_library
	url = https://github.com/netgroup-polito/nffg-library.git
[submodule "vnf-template-library"]
	path = vnf-template-library
	url = https://github.com/netgroup-polito/vnf-template-library
